<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>Case Study Applied Machine Learning</title>
  <script src="{{ url_for('static', filename='script.js')}}">
  </script>
  <style>
    .flex-container {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .flex-container > div {
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    }
  .left-right {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  }
  .left-right > left, right {
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    }
  </style>
</head>

<body>
<div class="left-right">
  <div class="right">
  <form name="input" action="." method="post">
      <div class="flex-container">
        <div>
          <label> Amount </label> <br/>
          <input type="range" min="0" max="100000" value="50" class="slider" name="amount" id="amount" onchange="try_ajax()" oninput="this.nextElementSibling.value = this.value">
          <output>000,000</output>
          <br/>
          <label> Origin Account Old Balance</label> <br/>
          <input type="range" min="0" max="100000" value="50" class="slider" name="oldbalanceOrig" id="oldbalanceOrig" onchange="try_ajax()" oninput="this.nextElementSibling.value = this.value">
          <output>000,000</output>
          <br/>
          <label> Origin Account Updated Balance</label> <br/>
          <input type="range" min="0" max="100000" value="50" class="slider" name="newbalanceOrig" id="newbalanceOrig" onchange="try_ajax()"oninput="this.nextElementSibling.value = this.value">
          <output>000,000</output>
        </div>
        <div>
          <label> Destination Account Updated Balance</label> <br/>
          <input type="range" min="0" max="100000" value="50" class="slider" name="oldbalanceDest" id="oldbalanceDest" onchange="try_ajax()" oninput="this.nextElementSibling.value = this.value">
          <output>000,000</output>
          <br/>
          <label> Destination Account Old Balance</label> <br/>
          <input type="range" min="0" max="100000" value="50" class="slider" name="newbalanceDest" id="newbalanceDest" onchange="try_ajax()" oninput="this.nextElementSibling.value = this.value">
          <output>000,000</output>
          <br/>
        </div>
      </div>
    </form>
</div>
<div class="right">
<p> prediction </p>
<table>
  <tr>
    <th>Model</th>
  </tr>
  <tr>
    <td>Decision Tree</td>
    <td id="dtc"> Fraud</td>
  </tr>
  <tr>
    <td>Gaussian Naive Bayes</td>
    <td id="gnb"> Fraud </td>
  </tr>
  <tr>
    <td>Logistic Regression</td>
    <td id="lr"> Fraud </td>
  </tr>
  <tr>
    <td>Random Forest</td>
    <td id="rf"> Fraud </td>
  </tr>
  <tr>
    <td>Support Vector Machine</td>
    <td id="svm"> Fraud </td>
  </tr>
</div>
</div>
<script
src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
</body>
</html>